/* h1
{
    width: 200px;
    transition: 5s;
    
}
h1:hover
{
    
    margin-left: 200px;
    width: 500px;
    transition: width 5s; 
} */

#outer
{
    width: 500px;
    height: 50px;
    border: 1px solid black;
    
   
}
 #inner
    {
        width: 10px;
        height: 50px;
        background-color: red;
    }
    #outer1
    {
        #inner1
        {
            height: 50px;
        }
    }
#outer1:hover
{
    #inner
    {
        width: 100%;
        background-color: rebeccapurple;
        transition: width 5s ease-in-out, backgrount-color 5s ease-in-out;
        
    }
}

#outer1:hover{
    #inner1
    {
        animation: myAnimation 5s linear;
        height: 50px;

    }
}

@keyframes myAnimation
{
    0%
    {
        width: 0%;
        background-color: red;
    }
     50%
    {
        width:  50%;
        background-color: yellow;
    }
     100%
    {
        width:100%;
        background-color: green;
    }
    
    

}
