.red
{
    color: red;
}
.green
{
    color: green;
}
.blue
{
    color: blue;
}
.pink
{
    color: pink;
}
.bgpink
{
    background-color: pink;
}
.bg-blue
{
    background-color: blue;
}
.bg-violet
{
    background-color: violet;
}
.bg-green
{
    background-color: greenyellow;
}
.fond-large
{
    fond-size: large;
}

